//Site Name
$site: mapparte;

// Primary Palette
$primary: #000000;
$secondary: #ffffff;
$tertiary: #d2d3ce;

// Neutrals
$white: #ffffff;
$black: #19232c;
$dark: #767c87;
$medium: #afb2b7;
$light: #e0e2e5;
$muted: #f1f2f2;

// fonts
// $Gothan-b: GothamPro-Bold;
$Roboto: "Roboto", sans-serif;

// XX large devices
$screen-1921: 1921px;
// X large devices
$screen-1920: 1920px;
// large devices
$screen-1681: 1681px;
// large devices
$screen-1680: 1680px;
// ipad pro
$screen-1024: 1199.98px;
// 991
$screen-991: 991.98px;
// ipad
$screen-767: 767.98px;
// smart phones
$screen-576: 575.98px;
// mobile phones
$screen-425: 425.98px;
// small mobile phones
$screen-375: 375.98px;

$featuredh: 2rem;
$h: 100%;
